@model IEnumerable<ByteInoTaskManager.Models.DTOs.CategoryDTO>


<div class="body">
    <div class="containers-1">
        <table class="table">
            <p>
                <a class="btn btn-success" asp-action="Create" asp-controller="Category">Create New</a>
            </p>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" class="text-center bg-warning">
                            No Category Exist
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
